---
---

<!DOCTYPE html>
<html>
{% include headers.html student="Raven Albin" %}
    
    <body>

    {% include before.html student="Raven Albin" %}

        <p><a href="index.html">Return to Home Page</a><br>
        <a href="student_reflections.html">Return to Reflections Menu</a></p>
        <h2>Reflection</h2>

        <div>
            <p>As a young man who has lived in Baltimore county for all of my life I have not looked into the history of my county or Harford county. However that changed when I enrolled at Harford community college. 
            Now I enrolled in US history 1 and 2 with professor Dixon and he introduced me to some events in Harford county. Now last semester would be my first step into civil rights in Harford county when I went and listen to 
            Mr. Stamps. That day would get me intrigued with local history. Flash forward to today doing this project made me open my eyes to that the civil rights movement was more than just Rosa Parks, MLK, and 
            Malcolm X fighting for civil rights. This project made me realize that when I was in high school and talked about the civil rights movement none of my teachers mentioned key important events that mot only 
            happened in our state but In our backyard. We didn’t talk about Harford Memorial and Mr. Stamps, the route 40 dinners, and anything in our county involving parks. If it wasn’t for this I would have never learned any of this. 
            Finally with this project it made me realize these fight for equality had multiple phases from public places, to schools, and housing. I those phases it took a lot of resources and groups like the NAACP, CORE, 
            and freedom rider and other groups to push forward in civil rights and educate the public and the nation what was happening in the African American community.  .I feel like everyone should take an African American History 
            class because not only do you get to learn about a different race or learn more about your culture and heritage, you get to learn about the history of your state 
            and county and the lasting impact it has on you but other people in the area.</p>   
        </div>
    {% include after.html %}
    </body>

</html>