---
---
<!DOCTYPE html>
<html>
{% include headers.html student="Justin Brown" %}
    <body>
    {% include before.html student="Justin Brown" %}
        <p><a href="index.html">Return to Home Page</a><br>
        <a href="student_reflections.html">Return to Reflections Menu</a></p>
        <h2>Reflection</h2>

        <div>
            <p>For my project, I found a news article about segregation in middle schools in the Harford County area. It specifically said that kids of color would have to take an exam in order to get into a school that they wanted to attend. 
            Furthermore, with my project, I created a twitter account, not an actual account, for one of the kids effected listed in the article. In more detail, 
            I wrote different twitter feeds about the situation that was happening through the kids world. 
            Something unique that I've never done before, and it was honestly quite fun. </p>   
        </div>
    {% include after.html %}
    </body>

</html>