---
---
<!DOCTYPE html>
<html>
{% include headers.html student="Amelia Lobb" %}
    <body>
    {% include before.html student="Amelia Lobb" %}
        <p><a href="index.html">Return to Home Page</a><br>
        <a href="student_reflections.html">Return to Reflections Menu</a></p>
        <h2>Reflection</h2>

        <div>
            <p>This project was a good chance to learn about the smaller things that happened locally that helped push the civil rights movement along. 
            imagine most of us know about all of the big nation shaking events and figures, but not many know about the fight for change that was happening a few decades ago where we now are. 
            All I really knew about the civil rights movement in Maryland was of Lillie Mae Carroll Jackson, and that’s cause I had to write a poem on her in creative writing two years ago. 
            So to learn about local leaders in the Civil Rights movement, such as Lillie Mae Carroll Jackson's son, Clarence Mitchell Jr., who I had never of heard of before researching for this project. 
            If it weren’t for this project I would of never of known of this leader of the NAACP and prominent civil rights lobbyist, 
            who was a big player in “Desegregation By Presidential Order", another event ii wouldn’t of known without this project, which helped led to the Civil Rights Act of 1957. </p>

            <p> Another thing this project did was make me realize the scope of something like having colored school in a small little area. 
                With this not being something that’s an issue today I never give it much thought, there for I’ve never realized how game changing it was for even a small and seemingly insignificant area compared to other places to be getting colored schools. 
                I’d even say it’s a bigger deal, with it being a smaller area that means you’d have to go farther out then would in a more bustling and populated place to find a school for you if weren’t a white kid. 
                So, in areas that seem kinda forgettable like ours, having these schools meant so much for so many who I won’t ever know. And speaking of getting to know these people, 
                being about to read first hand accounts was really interesting cause you’d get a glimpse into one person’s story from this time and see how all of this affected them.</p>   
        </div>
    {% include after.html %}
    </body>

</html>