---
---
<!DOCTYPE html>
<html>
{% include headers.html student="Jackie Wroe" %}
    <body>
    {% include before.html student="Jackie Wroe" %}
        <p><a href="index.html">Return to Home Page</a><br>
        <a href="student_reflections.html">Return to Reflections Menu</a></p>
        <h2>Reflection</h2>

        <div>
            <p>When looking at the desegregation of Harford County Public schools, the most important date is 1954. In the year of 1954, the Brown v. Board of Ed Supreme Court case decided that segregated schools were unconstitutional. 
                This started the process of integrating schools, which is still being worked on today. When I interviewed Carol Bruce, class of 1959 of Havre De Grace consolidated school, we discussed the differences in 
                education as these changes were made. The Havre De Grace colored school was built in 1910, but schools for white children existed way before that. African Americans were denied education in certain subjects, such as algebra, 
                and books were even burned to prevent them from reading. This colored school gave elementary school students the ability to gain education with teachers who cared for them. Carol Bruce attended the colored school at 
                1st grade and was touched by her teacher who cared for her and her students and made them know how important education was. She told me that her class size was only made of 20 people. 
                This is completely different today because our class sizes include hundreds of students. Carol Bruce expressed that her parents and teachers always expressed how important education was and how she had every right 
                to get an education. She wanted to attend Havre De Grace high school, but her principal and parents told her it would be unfair if they allowed her to go there because she would be mistreated. 
                This was really upsetting to me because even though Carol Bruce attended school and moved into college, she couldn’t even go to the high school she wanted to. Even though schools were integrated, 
                there was still a clear racial divide. However, she expressed this divide did not weaken them, but it strengthened them to become better people. When I asked if she thinks segregation will ever completely end and if 
                the divide in schools would ever close, Carol Bruce said no. She said it takes everyone understanding each other to accept one another and people aren’t making the effort to understand they have differences, but we are all 
                still the same because we are all human. This shows the fight African Americans, as well as other minorities, have to this day in schools and in life in general. School district zones in HCPS do not permanently eliminate 
                segregation because they create boundaries to keep the kids with the same economies and lifestyles together. This creates a divide that keeps different kids apart instead of having all different types of kids going to school 
                together. However, Carol Bruce stated that forcing this mix puts kids where they don’t feel welcomed or cared for and only hold those kids back. After my interview, it made me understand how challenging life for 
                African Americans is and how schools still need to work on ending the racial divide in students to make every student feel cared for.  </p>   
        </div>
    {% include after.html %}
    </body>

</html>