<head>
    <title>HCC NEH - {{ include.student }}</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            --mdc-theme-primary: #2196f3;
            --mdc-theme-surface: #0069c0;
            --mdc-theme-background: #262626;
            --mdc-theme-on-primary: white;
            --mdc-theme-on-secondary: blue;
            --mdc-theme-on-surface: white;
            --mdc-theme-text-primary-on-light: purple;
        }
    </style>
</head>